<div class="center hero-unit">
  <h1>Welcome to the Hebrew Project</h1>

  <h2>
    Singnig up for free will help you track your progress, taking notes
    and other very usefull options.
  </h2>

  <%= link_to "Sign up now!", '#',
    class: "btn btn-large btn-primary" %>

    <h2>
      Or you can just go straight to <%= link_to 'class', lessons_path %> and practice
    </h2>


</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

