<% provide(:title, 'Create Lesson') %>
<h1>Create Lesson</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'lesson_form' %>  
    <%= f.submit "Create lesson", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
